.pets-relacionados {
    margin-top: 4px;
}

.pets-relacionados-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.pets-relacionados label {
    margin-bottom: 0px;
}

.pets-relacionados-buttons {
    display: flex;
    gap: 10px;
}


.pets-relacionados-buttons > .button-sm {
    margin-bottom: 5px;
}

.lista-pets-relacionados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 8px;
    gap: 8px;

    background: var(--input-bg);
    border: var(--gray-medium) 1px solid;
    border-radius: var(--border-radius-lg);
}


