.popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.popup-container {
    background: var(--white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-light);
    
    padding: 26px;
    width: 100%;
    max-width: 500px;
    margin: 6px;
    position: relative;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h2 {
    font-size: 1.38em;
    font-family: var(--font-family-balootwo);
    font-weight: 600;
}

.btn-fechar {
    color: var(--primary-color);
    background: transparent;
    border: none;
    cursor: pointer;
}

.pets-relacionados {
    margin-top: 4px;
}

.pets-relacionados-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pets-relacionados label {
    margin-bottom: 0px;
}

.pets-relacionados button {
    margin-bottom: 5px;
}


.pets-relacionados-buttons {
    display: flex;
    gap: 10px;
    
}

.pets-relacionados-buttons button {
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius-md);
    font-size: 0.9em;
    padding: 6px 15px;
    
    display: flex;
    align-items: center;
    gap: 6px; 
    cursor: pointer;
    
    transition: background 0.2s ease, color 0.2s ease;
}

.btn-editar-pet:hover, .btn-add-pet:hover {
    background: var(--blue-light);
    color: var(--primary-color);
}
                  

.lista-pets-relacionados {
    background: var(--input-bg);
    border: var(--gray-medium) 1px solid;
    border-radius: var(--border-radius-lg);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 8px;
    gap: 8px;
}


.pet-card {
    background: var(--white);
    border-radius: var(--border-radius-lg);
    padding: 6px 15px;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: var(--box-shadow-light);
}


.btn-remover-pet {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
.icon-remover-pet {
    width: 16px;
    height: 16px;
    margin-bottom: -5px;
    cursor: pointer;
    color: var(--primary-color);
    transition: color 0.2s ease;
  }

.icon-remover-pet:hover {
    color: rgba(255, 0, 0, 0.658);
  }

  .btn-salvar-cliente {
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius-md);

    font-size: 1em;
    justify-content: center;

    padding: 6px 15px;
    margin: 24px auto 0;
    width: 30%;
    
    display: flex;
    align-items: center;
    cursor: pointer;
}