.card {
    display: flex;
    background-color: var(--white);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-light);
    margin-bottom: 10px;
    width: 100%;
    padding: 10px ;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

}

.btnEditar {
    padding: 5px;
    color: var(--white);
    border-radius: var(--border-radius-sm);
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
}