.card {
    display: flex;
    background-color: var(--white);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-light);
    margin-bottom: 10px;
    width: 100%;
    padding: 10px ;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 3%;

}


.dadosGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.labelDados {
    flex: 1;
}

.labelDados > p:nth-of-type(1) {
    margin-right: 10px;
    font-weight: bold;
    display: none;
}
.labelDados > p:nth-of-type(2) {
    margin-right: 2px;
}

.btns-info-edit {
    display: flex;
}

.btnEditar, .btnInfo {
    padding: 8px;
    color: var(--white);
    border-radius: var(--border-radius-sm);
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    margin: 2px;
}

@media (max-width: 800px)  {
    .card {
        display: flex;
    }

    .dadosGroup {
        display: block;
    }

    .labelDados {
        display: flex;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .labelDados > p:nth-of-type(1) {
        display: block;
    }

    .labelDados > p:nth-of-type(2) {
        max-width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btns-info-edit {
        display: block;
        flex: 0;
    }

}