.cardDashboard{
    margin-bottom: 10px;
    background-color: var(--white);
    border-radius: var(--border-radius-md);
    padding: 10px;
    border-left: 6px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.cardDashboard:hover {
    transform: scale(1.01);
}


.filtroData{
    max-width: 200px;
    cursor: pointer;
}

.servicoEStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dadosCards {
    flex: 1;
}

.statusSpan {
    background-color:#fff570;
    padding: 3px 5px;
    border-radius: 100px;
    font-size: 0.8rem;
    font-weight: 800;
    color: #c2b00e;
}


.infosCards {
    display: flex;
}

.iconsCards {
    margin-right: 10px;
    margin-top: 3px;
    width: 100%;
    max-width: 15px;
}

.infosCards > P > span {
    font-weight: 700;
    margin-right: 5px;
}

.infosCards > P {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}



/*cards cliente*/

.groupInfosBtn {
    display: flex;
}

.btns-info-edit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-info, .btn-edit {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: var(--white);
    padding: 5px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}
