.mainDashboard {
    padding: 4%;
    max-height: 100vh;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.tituloEadic {
    margin: 0px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloCliente, .tituloPet, .tituloAgenda {
    font-family: var(--font-family-balootwo);
    font-size: 2rem;
    font-weight: 600;
}

.buttonAdicionar {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius-md);
    padding: 6px 15px;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.searchEfiltro {
    display:  flex;
    gap: 30px;
    align-items: start;
}

.campoSearch {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.iconeSearch {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.campoFiltro {
    display: flex;
    gap: 10px;
}

.filtroClientes {
    width: 100%;
    min-width: 100px;
    padding: 10px 16px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--gray-medium);
    background-color: var(--input-bg);
    outline: none;
    margin: 0px 0px 15px;
    cursor: pointer;
}

.inputData {
    max-width: 150px;
    cursor: pointer;
}

.listCliente {
    width: 100%;
    flex-grow: 1;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--white);
    border-radius: var(--border-radius-sm);
    padding: 5px;
    min-height: 0;
}

.bar {
    display: flex;
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--white);
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    padding: 15px 30px ;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}