.mainDashboard {
    padding: 50px;
    height: 100vh;
}

.tituloEbuttonAdicCliente {
    margin: 0px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.tituloEbuttonAdicCliente > h2 {
    font-size: 2.2rem;
}

.buttonAdicionar {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius-md);
    padding: 5px 15px;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.searchEfiltro {
    display:  flex;
    gap: 30px;
}

.campoSearch {
    display: flex;
    align-items: center;
    position: relative;
}

.iconeSearch {
    position: absolute;
    top: 5px;
    right: 10px;
}

.campoFiltro {
    display: flex;
    gap: 5px;
}

.filtroClientes {
    width: 100%;
    height: 30px;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid var(--gray-medium);
    background: var(--input-bg);
    outline: none;
}

