.mainDashboard {
    padding: 4%;
    max-height: 100vh;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.tituloEadic {
    margin: 0px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloCliente, .tituloPet, .tituloAgenda {
    font-family: var(--font-family-balootwo);
    font-size: 2rem;
    font-weight: 600;
}

.buttonAdicionar {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius-md);
    padding: 6px 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.searchEfiltro {
    display:  flex;
    gap: 30px;
    align-items: start;
}

.campoSearch {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.iconeSearch {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.campoFiltro {
    display: flex;
    gap: 10px;
}

.inputData {
    max-width: 150px;
    cursor: pointer;
}

.listCliente, .listPets, .listAgendamentos  {
    width: 100%;
    flex-grow: 1;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    
    border-radius: var(--border-radius-sm);
    padding: 5px;
    min-height: 0;

    scrollbar-width: thin; 
    scrollbar-color: var(--primary-color) var(--gray-light); 

    
    &::-webkit-scrollbar {
        width: 8px; 
    }

    &::-webkit-scrollbar-track {
        background: var(--gray-light); 
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-dark); 
    }
}



.bar {
    display: flex;
    background-color: var(--gray-light);
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-light);
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 20% 15px 15px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
}

.bar > p{
    display: block;
}


@media (max-width: 800px) {
    .mainDashboard {
        padding: 45px 15px 15px;
    }

    .tituloCliente, .tituloPet, .tituloAgenda {
        font-size: 1.3rem;
    }

    .bar {
        display: none;
    }
}