.detalhes-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.detalhe {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.popup-detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}