.title {
  width: 100%;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.main {
  padding-top: 90px;
}

/* ----- Seção Intro ------ */

.intro,
.funcionalidades {
  padding: 8px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.intro-img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
  position: relative;
  filter: brightness(0.6);
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  top: 35%;
  left: 4%;
  padding: 0 20px;
  color: #fff;
}

.text-container h1 {
  font-family: "Baloo 2", sans-serif;
  color: var(--primary-color);
  font-size: 3rem;
}

.text-container p {
  margin-bottom: 20px;
  font-size: 1rem;
}

.btn-assinar {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: var(--border-radius-lg);
  padding: 10px 20px;
  cursor: pointer;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 12px;
}

/* ----- Seção Funcionalidades ------ */

.funcionalidades {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 120px;
  border-radius: var(--border-radius-lg);
  background-color: var(--white);
}

.funcionalidades-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: fit-content;
  background-color: var(--blue-light);
  border-radius: var(--border-radius-lg);
  padding: 12px 20px;
}

.func {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 16px 8px;
}

.func-icon {
  color: var(--primary-color);
}

.icon {
  grid-column: 1;
}

.text {
  width: 22ch;
  grid-column: 2;
}

.text span {
  font-size: 0.94rem;
}

.func-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 4px;
}

/* ------ Section Planos ------ */
.planos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 120px;
  margin: 0 auto;
  font-size: 0.94rem;
}

.plano {
  display: grid;
  width: 360px;
  height: 440px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--box-shadow-light);
  padding: 32px 40px;
  position: relative;
}

.plano-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Baloo 2', sans-serif;
  text-transform: uppercase;
}

.plano-info {
  flex: 1;
  margin: 32px 0;
}

.plano-info p {
  margin-bottom: 20px;
}

.planos ul {
  list-style: none;
  position: relative;
  left: 12px;
}

.plano li::before {
  content: "✔";
  position: absolute;
  width: 2px;
  height: 2px;
  left: -16px;
  color: var(--primary-color);
}

.planos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.plano-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 2.2rem;
}

.plano p {
  font-size: 0.94rem;
}

.preco p {
  font-size: 2rem;
  font-weight: 600;
}

.preco {
  font-family: 'Baloo 2', sans-serif;
  position: relative;
}

.preco span {
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  left: -14px;
  top: -4px;
}

.btn-plano {
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 12px;
  padding: 4px;
  cursor: pointer;
  margin-top: auto;
  outline: none;
  border: none;
}

/* ----- Seção Vantagens ------ */

.vantagens {
  background-color: var(--white);
  padding: 120px;
}

.vantagens h1 {
  text-align: start;
}

.vantagens-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.vantagens-container p {
  font-weight: 600;
  padding: 20px 0;
}

.vantagens-info {
  padding: 40px 20px;
  border-radius: 12px;
}

.vantagens-info li {
  line-height: 2.5rem;
  list-style: none;
}

.vantagens-img {
  width: 100%;
  grid-column: 2;
  align-content: center;
}

.vantagens-img img {
  width: 100%;
}

.btn-vantagens {
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}


/* ------ Media Query ------ */

@media (max-width: 1200px) {
  .intro-img {
    height: 360px;
  }
}

@media (max-width: 800px) {
  .text-container {
    top: 40%;
    margin-bottom: 20px;
  }
  .text-container h1 {
    font-size: 2.5rem;
  }
  .title {
    margin-bottom: 12px;
  }
  .func {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .funcionalidades {
    margin: 12px;
  }
  .planos-container {
    grid-template-columns: 1fr;
  }
  .vantagens, .planos, .funcionalidades {
    padding: 60px 40px;
  }
  .vantagens-container {
    display: flex;
    flex-wrap: wrap;
  }
  .vantagens-img {
    display: none;
  }
  .vantagens-info {
    width: 100%;
  }
}
