@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ------ Geral ------ */
body {
  background-color: #fafafa;
  margin: 0px;
}

p,
h1,
h2 {
  font-family: "Nunito", sans-serif;
}

.title {
  width: 100%;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.main {
  padding-top: 90px;
}

/* ----- Seção Intro ------ */

.intro, .funcionalidades {
  padding: 8px;
}

.intro {
  margin-bottom: 20px;
}

.intro-banner {
  margin-bottom: 40px;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
}

.intro p {
  font-size: 1rem;
  width: 80ch;
  color: #0F0F0F;
}

.intro-img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
}

/* ----- Seção Funcionalidades ------ */

.funcionalidades {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto 100px;
  padding: 20px;
  border-radius: 12px;
}

.funcionalidades-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: fit-content;
  background-color: #D9E4EE;
  border-radius: 12px;
  padding: 12px 20px;
}

.func {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 16px 8px;
}

.func-icon {
  color: #00acef;
  border-radius: 8px;
  object-fit: cover;
}

.icon {
  grid-column: 1;
}

.text {
  width: 22ch;
  grid-column: 2;
}

.text span {
  font-size: 0.94rem;
}

.func-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #0F0F0F;
  margin-bottom: 4px;
}

/* ------ Section Planos ------ */
.planos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  font-size: 0.94rem;
}

.plano, .plano-anual, .plano-premium {
  height: 260px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  padding: 20px 40px 0px 24px;
}

.plano-premium {
  position: relative;
}

.span {
  background: #00ACEF;
  padding: 2px 12px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  top: -12px;
  left: 64px;
  position: absolute;
}

.plano-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #0F0F0F;
  margin-bottom: 8px;
}

.planos ul {
  list-style: none;
  position: relative;
  left: 12px;
  margin-bottom: 32px;
}

.plano li::before, .plano-premium li::before {
  content: '✔';
  position: absolute;
  width: 2px;
  height: 2px;
  left: -16px;
  color: #00ACEF;
}

.planos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.btn-plano {
  width: fit-content;
  background-color: #00ACEF;
  color: white;
  font-size: 1.125rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 12px;
}

.plano-anual p {
  font-size: 0.94rem;
  margin-bottom: 32px;
  width: 20ch;
  text-align: start;
}

.preco {
  font-size: 1.25rem;
  font-weight: 600;
}


@media (max-width: 1200px) {
  .intro-img {
    height: 360px;
  }
}

@media (max-width: 800px) {
  .intro {
    margin-bottom: 12px;
  }
  .intro-banner {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 12px;
  }
  .func {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .funcionalidades {
    margin: 12px;
  }
  
  .intro-img {
    height: 260px;
  }
  .planos-container {
    grid-template-columns: 1fr;
  }
}
