@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");
/* Variáveis globais */
:root {
    /* Cores */
    --primary-color: #00acef; /* Azul principal */
    --background-light: #fafafa; /* Fundo claro */
    --white: #ffffff; /* Branco */
    --gray-light: #efeff0; /* Cinza claro */
    --blue-light: #f1faff; /* Azul claro */
    --text-dark: #0f0f0f; /* Quase preto */
    --gray-medium: #ccc; /* Cinza médio para bordas */
    --input-bg: #f9f9f9; /* Fundo de inputs */
    --overlay-bg: #00000080; /* Fundo de sobreposição */
    --danger-red: #ff0000; /* Vermelho para botões de exclusão */

    /* Fonte */
    --font-family-nunito: "Nunito", sans-serif;
    --font-family-balootwo: "Baloo 2", sans-serif;


    /* Box-shadow */
    --box-shadow-light: 0px 10px 20px rgba(0, 0, 0, 0.1);

    /* Tamanhos e espaçamentos comuns */
    --border-radius-sm: 8px;
    --border-radius-md: 10px;
    --border-radius-lg: 12px;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    background-color: var(--background-light);
    color: var(--text-dark);
    font-family: var(--font-family-nunito);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding:  10px 15px;
    margin-bottom: 20px;

    background-color: var(--input-bg);
    border: 1px solid var(--gray-medium);
    border-radius: var(--border-radius-sm);
    outline: none;
}

a {
    text-decoration: none;
}

/* Popups*/
.popup-overlay {
    background-color: var(--overlay-bg);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
} 

.popup-container {
    width: 100%;
    max-width: 500px;
    padding: 26px;
    margin: 6px;
    position: relative;

    background: var(--white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-light);
    
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h2 {
    font-size: 1.38em;
    font-family: var(--font-family-balootwo);
    font-weight: 600;
}

.btn-fechar {
    background: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/* Botões */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px; 
    white-space: nowrap;
    
    background: var(--primary-color);
    color: var(--white);
    border: var(--primary-color) 1px solid;
    border-radius: var(--border-radius-lg);
    cursor: pointer;

    
    
    transition: background 0.2s ease, color 0.2s ease;
}

.button:hover {
    background: var(--blue-light);
    color: var(--primary-color);
    border: var(--primary-color) 1px solid;
}

.button-sm {
    font-size: 0.9em;
    padding: 6px 15px;

    width: 100%;
    max-width: 140px;
}

.button-md {
    width: 100%;
    max-width: 160px;
    min-width: 120px;
    
    padding: 8px 10px;
    margin: 24px auto 0;

    font-size: 1em;
    justify-content: center;
}

.danger-button:hover {
    background: var(--white);
    color: var(--danger-red);
    border: 1px solid var(--danger-red);
}